{% extends "layout.html.twig" %}

{% block title %}
LoL Commits Server - by Clops
{% endblock %}

{% block stylesheets %}
<style>
    .infinite-more-link{
        display: none;
    }
</style>
{% endblock %}

{% block javascripts %}
<script LANGUAGE="JavaScript" type="text/javascript">

    $( document ).ready(function() {
        var myLoader = $('#infinite-loading');

        $('.infinite-container').waypoint('infinite', {
            container: 'auto',
            items: '.infinite-item',
            more: '.infinite-more-link',
            offset: 'bottom-in-view',
            loadingClass: 'infinite-loading',
            onBeforePageLoad: function(){
                myLoader.show();
            },
            onAfterPageLoad: function(){
                myLoader.hide();

                //move it to the end of the list
                myLoader.detach();
                myLoader.appendTo('#timeline');
            }
        });
    });

</script>
{% endblock %}

{% block content %}
    <ul class="timeline infinite-container" id="timeline">
        {% set timestamp = "" %}
        {% for commit in commits %}
            <li class="{{ cycle(['timeline-not-inverted', 'timeline-inverted'], loop.index0) }} infinite-item">
                <div class="timeline-image">
                    <img class="img-circle img-responsive" src="commits/{{ commit.thumb }}" alt="">
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>{{ commit.created|date("j F, G:i") }}</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">{{ commit.message }}</p>
                        <p>{{ commit.repo }} / {{ commit.sha }}</p>
                    </div>
                </div>
            </li>

            {% set timestamp = commit.created %}
        {% endfor %}

        <li class="timeline-inverted" id="infinite-loading">
            <div class="timeline-image">
                <img src="/assets/img/loading.png" alt="Loading" />
            </div>
        </li>

        {% if total < 1 %}
        <li class="timeline-inverted infinite-item">
            <div class="timeline-image">
                <h4>Powered
                    <br>by
                    <br><a href="https://github.com/clops/lolcommits-server" target="_blank" style="color: #fff;">LolServer</a></h4>
            </div>
        </li>
        {% endif %}
    </ul>

    {% if total %}
        <a href="/?limit={{ timestamp }}" class="infinite-more-link">More</a>
    {% endif %}

{% endblock %}
