{% extends "layout.html.twig" %}

{% block title %}
LoL Commits Server - by Clops
{% endblock %}

{% block content %}
    <ul class="timeline">
        {% for commit in commits %}
        <li class="{{ cycle(['timeline-not-inverted', 'timeline-inverted'], loop.index0) }}">
            <div class="timeline-image">
                <img class="img-circle img-responsive" src="commits/{{ commit.thumb }}" alt="">
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4>{{ commit.created }}</h4>
                    <h4 class="subheading">{{ commit.repo }} / {{ commit.sha }}</h4>
                </div>
                <div class="timeline-body">
                    <p class="text-muted">{{ commit.message }}</p>
                </div>
            </div>
        </li>
        {% endfor %}

        <li class="timeline-inverted">
            <div class="timeline-image">
                <h4>Powered
                    <br>by
                    <br><a href="https://github.com/clops/lolcommits-server" target="_blank" style="color: #fff;">LolServer</a></h4>
            </div>
        </li>
    </ul>

{% endblock %}
